.contact-list-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    margin: 12px 0;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-list-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-list-item h3 {
    margin: 0;
    font-size: 1.25em;
    color: #333;
  }
  
  .contact-actions {
    display: flex;
    gap: 8px;
  }
  
  .btn-primary {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }

  .add-contact-button {
    background-color: #28a745; 
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .no-contacts-message {
    text-align: center;
    font-size: 18px;
    color: #5a6268;
    padding: 20px;
  }


.loading-message {
  text-align: center;
  font-size: 18px;
  color: #0056b3; 
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite ease-in-out; /* Pulse animation */
}

/* Pulse animation for loading message */
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}